body {
    margin: 60px auto;
    width: 70%;
    text-align: center
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-size: 10em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
