body {
    font-family: 'Bree-Serif', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2em;
}



h1 {
    font-size: 10em;

}



.container-fluid {
    color: white;
}

.background {
    background-image: url(../images/background.png)
}

.LGGLogo {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    vertical-align: text-bottom;
    overflow: hidden;
}

.Subtitle {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 2vw;
    color: white;
/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
    text-align: center;
}

.Video {
    text-align: center;
}

.MartianMixerLogo {
    padding-top: 30px;
    text-align: center;
}

.navbar-expand-lg {

}

.MartianMixer {
    background: url(../images/background.png);
    background-size: cover;
}

.LittleGhostGames {
    background-color: #4F4C4C;
}
