

h1 {
    font-size: 10em;

}



.container-fluid {
    color: white;
}

.background {
    background-image: url(../images/background.png)
}

.LGGLogo {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    vertical-align: text-bottom 
    overflow: hidden;
}

.Subtitle {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 2vw;
    color: white;
/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
    text-align: center;
}

.Video {
    text-align: center;
}

.MartianMixerLogo {
    padding-top: 0px;
    text-align: center;
}

.navbar-expand-lg {

}

.MartianMixer {
    background-color: black;
    text-align: center;
}

.LittleGhostGames {
    background-color: #4F4C4C;
}

.Footer {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
}

.item-contents {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 2vw;
    color: white;
/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
    text-align: center;
}

.GameInfo {
    width: 40%;
/*    background-color: aqua;*/
    display: inline-block;
    float: left;
    margin-left: 15%;
    margin-top: 30px;

/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
    text-align: center;
}

.MartianImage {
    width: 60%;
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

.GameInfoHeading {
        font-size: 3vw;
    color: #FFC639;
/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
    text-align: center;
    display: block;
}

.GameInfoItem {
    color: aliceblue;
    width: 100%;
}

.EmailSignup {
    width: 100%;
    text-align: center;
    display: block;
}

.Bullshit {
    width: 100%;
    background-color: yellow;
}

.Email {
    font-size: 2vw;
    color: #FFC639;
/*    color: #FFC639;*/
    font-family: 'Viga', sans-serif;
}

#EmbedSignup {
    background-color: black;
}
